{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "console",
    ["console-source", { "segments": 2 }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}